# このファイルを .env というファイル名にコピーして、必要な環境変数を設定してください。
# セキュリティのため，.env はGitにコミットしないでください。

# MLFlowなどの環境変数を設定する
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
FMLFLOW_S3_ENDPOINT_URL=http://mlflow